<a [routerLink]="'/product/create'" class="px-5 py-2 rounded-lg bg-blue-400 hover:bg-blue-600 transition-all">Crear Producto</a>
<table class="border-collapse border border-gray-400 w-full mt-4">
  <thead>
    <tr>
      <th class="border border-gray-300">Nombre</th>
      <th class="border border-gray-300">Precio</th>
      <th class="border border-gray-300">Descripción</th>
      <th class="border border-gray-300">Imagen</th>
      <th class="border border-gray-300">Categoria</th>
      <th class="border border-gray-300">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (product of products(); track product.id) {
      <tr>
        <td class="border border-gray-300 px-4 py-2">{{ product.title }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ product.price }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ product.description }}</td>
        <td class="border border-gray-300 px-4 py-2 w-[10%]">
          @if (product.images.length > 0) {
            <img [src]="product.images[0]" [alt]="product.title" class="w-20 h-20 object-cover rounded-lg">
          }
        </td>
        <td class="border border-gray-300 px-4 py-2">
          {{ product.category.name }}
        </td>
        <td class="border border-gray-300 px-4 py-2">
          <a [routerLink]="['/product/edit', product.id]" class="px-5 py-2 rounded-lg bg-pink-400 hover:bg-pink-600 transition-all">Editar</a>
          <button class="px-5 py-2 rounded-lg bg-blue-400 hover:bg-blue-600 transition-all" type="button" (click)="onToggleDetail(product)">Detalles</button>
        </td>
      </tr>
    }
  </tbody>
</table>
<app-product-personal
  [product]="selectedProduct()"
  (closeDetail)="closeDetail()"
  [class.active]="showDetail()"
>
</app-product-personal>
