<nav class="bg-pink-100 shadow-md p-4">
  <div class="flex items-center justify-between">
    <h2 class="text-xl font-bold text-gray-800">{{ pageTitle }}</h2>
    <button class="bg-pink-300 hover:bg-pink-500 px-3 py-1 rounded-md cursor-pointer transition-all duration-300">Crear persona</button>
    <!-- <button (click)="download()">Descargar</button> -->
    <div class="flex items-center gap-4">
      <span class="text-gray-600"></span>
      <div class="w-8 h-8 rounded-full bg-pink-500 flex items-center justify-center text-white">
      </div>
    </div>
  </div>
</nav>
