<div class="p-6">
  <h1 class="text-2xl font-bold mb-4">Formulario Reactivos</h1>
  <form [formGroup]="form" (ngSubmit)="save()" class="border border-pink-500 p-3 rounded-xl space-y-4">
    <div class="grid grid-cols-2 gap-4">
      <div formGroupName="fullName" class="grid grid-cols-2 gap-4">
        <div>
          <label for="name" class="block">Nombre</label>
          <input
            type="text"
            formControlName="name"
            [class.bg-red-200]="nameField!.touched && nameField!.invalid"
            [class.bg-green-200]="nameField!.touched && nameField!.valid"
          >
          <div class="message" [class.active]="nameField!.touched && nameField!.invalid">
            @if (nameField!.touched && nameField!.hasError('required')) {
              <strong class="text-red-500">Ey papi le falta el campo</strong>
            } @else if (nameField!.touched && nameField!.hasError('maxlength')) {
              <strong class="text-red-500">Ey papi mucho texto</strong>
            } @else if (nameField!.touched && nameField!.hasError('minlength')) {
              <strong class="text-red-500">Ey papi falta texto</strong>
            }
          </div>
        </div>

        <div>
          <label for="last" class="block">Apellido</label>
          <input
            type="text"
            formControlName="last"
            [class.bg-red-200]="lastField!.touched && lastField!.invalid"
            [class.bg-green-200]="lastField!.touched && lastField!.valid"
          >
          <div class="message" [class.active]="lastField!.touched && lastField!.invalid">
            @if (lastField!.touched && lastField!.hasError('required')) {
              <strong class="text-red-500">Ey papi le falta el campo</strong>
            } @else if (lastField!.touched && lastField!.hasError('maxlength')) {
              <strong class="text-red-500">Ey papi mucho texto</strong>
            } @else if (lastField!.touched && lastField!.hasError('minlength')) {
              <strong class="text-red-500">Ey papi falta texto</strong>
            }
          </div>
        </div>
      </div>

      <div>
        <label for="email" class="block">Email</label>
        <input type="email" formControlName="email">
        <div class="message" [class.active]="emailField!.touched && emailField!.invalid">
          @if (emailField!.touched && emailField!.hasError('required')) {
            <strong class="text-red-500">Ey papi le falta el campo</strong>
          } @else if (emailField!.touched && emailField!.hasError('email')) {
            <strong class="text-red-500">Ey papi el email no es valido</strong>
          }
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <label for="phone" class="block">Número de celular</label>
        <input type="tel" formControlName="phone">
      </div>

      <div>
        <label for="color" class="block">Color</label>
        <input type="color" formControlName="color">
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <label for="date" class="block">Fecha</label>
        <input type="date" formControlName="date">
      </div>

      <div>
        <label for="age" class="block">Edad</label>
        <input type="number" formControlName="age">
        <div class="message" [class.active]="ageField!.touched && ageField?.invalid">
          @if (ageField?.touched && ageField?.hasError('required')){
            <strong class="text-red-500">El campom es requerido</strong>
          } @else if (ageField?.hasError('min')){
            <strong class="text-red-500">La edad minima es 18</strong>
          } @else if (ageField?.hasError('max')){
            <strong class="text-red-500">La edad maxima es 101</strong>
          }
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <label for="category" class="block">Categoria</label>
        <select formControlName="category">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>

      <div>
        <label for="agree" class="block">Aceptar</label>
        <input type="checkbox" formControlName="agree" class="text-start">
      </div>
    </div>

    <div class="grid grid-cols-1">
      <label for="gender" class="block">Genero</label>
      <div class="grid grid-cols-3 gap-4">
        <label class="flex items-center gap-2">
          <input name="gender" type="radio" value="hombre" formControlName="gender">
          Hombre
        </label>
          <label class="flex items-center gap-2">
        <input name="gender" type="radio" value="mujer" formControlName="gender">
          Mujer
        </label>
        <label class="flex items-center gap-2">
          <input name="gender" type="radio" value="otro" formControlName="gender">
          Otro
        </label>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <label for="password" class="block">Contraseña</label>
        <input type="password" formControlName="password">
        <div class="message" [class.active]="form.get('password')?.touched && form.get('password')?.invalid">
          @if (form.get('password')?.hasError('invalid_password')){
            <strong class="text-red-500">Te faltan numeros papa dio</strong>
          }
        </div>
      </div>
      <div>
        <label for="confirmPassword" class="block">Confirmar Contraseña</label>
        <input type="password" formControlName="confirmPassword">
        <div class="message" [class.active]="form.get('confirmPassword')?.touched">
          @if (form.hasError('match_passwords')){
            <strong class="text-red-500">La contraseña no coincide</strong>
          }
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <label for="rangeNum">Rago de numeros</label>
        <div class="grid grid-cols-2 gap-4" formGroupName="rangeNum">
          <input type="number" formControlName="minNum">
          <input type="number" formControlName="maxNum">
        </div>
        <div class="message" [class.active]="form.get('rangeNum')?.touched && form.get('rangeNum')?.invalid">
          @if (form.hasError('range_invalid')){
            <strong class="text-red-500">El numero minimo debe ser menor al maximo</strong>
          }
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="type" class="block">Tipo de usuario</label>
          <div class="grid grid-cols-2">
            <label for="type" class="flex items-center gap-2">
              <input type="radio" formControlName="type" value="company">
              Company
            </label>
            <label for="type" class="flex items-center gap-2">
              <input type="radio" formControlName="type" value="customer">
              Customer
            </label>
          </div>
        </div>
        <div>
          <label for="companyName" class="block">Nombre de la empresa</label>
          <input type="text" formControlName="companyName">
          <div class="message" [class.active]="companyNameField?.touched && companyNameField?.invalid">
            @if (companyNameField?.hasError('required')){
              <strong class="text-red-500">El nombre de la empresa es requerido</strong>

            }
          </div>
        </div>
      </div>
    </div>

    <p>
      <button
        type="submit"
        class="bg-gray-400 p-3 rounded-lg cursor-pointer"
        [disabled]="form.invalid"
        [class.bg-red-300]="form.invalid"
        [class.cursor-not-allowed!]="form.invalid"
      >
        Enviar
      </button>
    </p>
  </form>
</div>
