input{
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  &.error{
    border-color: red;
  }
}
textarea{
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  &.error{
    border-color: red;
  }
}
select{
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  &.error{
    border-color: red;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.message{
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeOut 0.5s forwards;

  &.active{
    animation: fadeIn 0.5s forwards;
  }
}

.required::after{
  content: '*';
  position: absolute;
  color: red;
}
