<a [routerLink]="['/product', product().id.toString()]">
  <div class="product-card">
    <div class="product-image-wrapper">
      @if (product().images && product().images.length > 0) {
        <img [src]="product().images[0]" [alt]="product().title" class="product-image">
      } @else {
        <div class="product-no-image">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
          </svg>
        </div>
      }

      @if (product().category) {
        <div class="category-badge">
          {{ product().category.name }}
        </div>
      }

      <div class="taxes-badge">
        ${{ product().price | number:'1.2-2' }}
      </div>
    </div>

    <div class="product-info">
      <h3 class="product-title">{{ product().title }}</h3>

      <p class="product-description">{{ product().description }}</p>

      <div class="product-footer">
        <div class="product-pricing">
          <span class="product-price">${{ product().price | number:'1.2-2' }}</span>
        </div>

        <button class="add-to-cart-btn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
          <span>Agregar</span>
        </button>
      </div>
    </div>
  </div>
</a>
